<div class="section">
  <img class="img" src="../../assets/img/logo.PNG" alt="">

  <form [formGroup]="logForm" (ngSubmit)="validForm()">
    <div><input type="text" placeholder="Nom" formControlName="nom"></div>
    <div><input type="text" placeholder="Prenom" formControlName="prenom"></div>
    <div><input type="text" placeholder="Email" formControlName="email"></div>
    <div><input type="text" placeholder="Password" formControlName="motPasse"></div>
    <div><input type="text" placeholder="photo" formControlName="photo"></div>
    <div><input class="submit" type="submit" value="S'enregistrer"></div>
  </form>


  <a routerLink="/connection">Vous avez déjà un compte ?</a><br>


</div>
<!-- -->
<!--<a routerLink="">Accueil</a><br>
<a routerLink="/inscription">Inscription</a>
-->





<!-- <section>

    <h1>{{title}}</h1>

    <form [formGroup]="logForm" (ngSubmit)="validForm()">
        <div><input type="text" placeholder="Avatar" formControlName="avatar"></div>
        <div><input type="text" placeholder="Pseudo" formControlName="pseudo"></div>
        <div><input type="text" placeholder="Email" formControlName="email"></div>
        <div><input type="text" placeholder="Password" formControlName="password"></div>
        <div><input type="submit" value="Ajout"></div>
    </form>

</section> -->
