<div class="box">
  <div class="container1">

    <div class="enTete">
      <div class="btn date">4 avril 2012</div>
      <div class="btn btnComment">Commenter</div>
    </div>
    <div class="title">
      Titre
    </div>
    <div class="name">
      <span>Par</span><span class="nom">Name</span>
      <span>Surname</span>
    </div>
    <div class="nbLike">
      12 likes
    </div>
    <div class="line"></div>
    <div class="boxImg">
      <img class="imgArticle" src="../../assets/img/chat.jpg" alt="">
    </div>
    <div class="text">Du texte et encore du text et du texte et blablabla, du texte et encore du text et du texte et blablabla, du texte et encore du text et du texte et blablabla, du texte et encore du text et du texte et blablabla, du texte et encore du text et du texte et blablabla...
    </div>
    <div class="line"></div>
    <div class="containerComment">
      <div class="boxComment">

        <div class="boxProfil">
          <div class="divProfil">
            <img class="imgProfil" src="../../assets/img/chat.jpg" alt="">
          </div>
          <div class="heureComment">12h00</div>
          <div class="dateComment">21/12/2012</div>
        </div>

        <div class="boxText">
          <div class="titleComment">Titre</div>
          <div class="mess">Du texte et encore du text et du texte et blablabla, du texte et encore du text et du texte et blablabla, du texte et encore du text et du texte et blablabla, du texte et encore du text et du texte et blablabla, du texte et encore du text et du texte et blablabla...</div>
        </div>
      </div>
    </div>
    <form action="">
      <textarea class="textarea" name="" id=""></textarea>
      <div class="boxEnvoi">
        <div class="btnSubmit"><svg width="20" height="20" stroke-width="1.5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M9 6L15 12L9 18" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
          </svg></div>
          <div class="envoi">envoyer</div>
      </div>
    </form>
  </div>
  <div class="container2"></div>


</div>
