nav{
    width: 100%;
    background: rgb(72, 72, 78);
    text-align: center;
    height: 70px;
}

ul {
    margin: 10px auto;
}

li {
    list-style-type: none;
    padding: 25px;
    display: inline-block;
}

a{
    color: white;
    text-decoration: none;
}