section{
    text-align: center;
    margin: 0 auto;
}

h1{
    text-align: center;
    margin-top: 70px;
}
form{
    text-align: center;
}

input{
    margin: 20px;
    width: 250px;
    height: 40px;
    border-radius: 10px;
    text-align: center;
} 
/*-----------------------------------------*/
  .login-header,
  
  .login input[type="email"],
  .login input[type="password"] {
    background: #fff;
    border-color: #bbb;
    color: #555;
  }
  .login input[type="email"]:focus,
  .login input[type="password"]:focus {
    border-color: #888;
  }
  
  .login input[type="submit"] {
    background: rgb(1, 29, 51);
    border-color: transparent;
    color: #fff;
    cursor: pointer;
  }
  .login input[type="submit"]:hover {
    background: #17c;
  }
  .login input[type="submit"]:focus {
    border-color: #05a;
  }