<div class="box">

    <div class="box1">

      <app-profil></app-profil>

    </div>

    <div class="box2">
      <app-mur></app-mur>

    </div>
<!--
    <div class="box3">
      <app-article></app-article>

    </div>
-->
  </div>


  <!--

    <ul style="background: blue; height: 200px;">
      <li *ngFor="let userListe of userListe">
          <span data-dummy="{{ getUsers()}}" >
            <span>{{ userListe.pseudo }}</span>
            <span>{{ userListe.email }}</span>
          </span>
        </li>
    </ul>
-->
