<div class="section">
  <img class="img" src="../../assets/img/logo.PNG" alt="">

    <h3 class="titre">Modifier mon profil</h3>
    <form [formGroup]="updateAccount"  (ngSubmit)="validForm()">
      <div *ngFor="let value of user">
        <div>
          <div><input type="text" [value]="value.nom" placeholder="nom" formControlName="nom"></div>
          <div><input type="text" [value]="value.prenom" placeholder="Prenom" formControlName="prenom"></div>
          <div><input type="text" [value]="value.email" placeholder="email" formControlName="email"></div>
          <div><input type="text" [value]="value.motPasse" placeholder="motPasse" formControlName="motPasse"></div>
          <div><input type="text" [value]="value.photo" placeholder="photo" formControlName="photo"></div>
          <div><input class="submit" type="submit" value="Modifier"></div>
        </div>
      </div>
    </form>

    <div class="click" (click)="retourCompte()">Mon compte</div><br>

    <!---->


</div>

















